.btn {
  display: inline-block;
  background-color: var(--emerald-color);
  font-size: 15px;
  text-transform: uppercase;
  line-height: 21px;
  padding: 19px 48px;
  border-radius: 16px;
  color: var(--light-color);
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  transition: background-color 0.3s ease-in-out;
  @include hover {
    background-color: var(--hover-color);
  }
}

.btn-big {
  font-size: 17px;
  line-height: 23px;
  padding: 32px 126px 30px;
  border-radius: 30px;
}

.btn__border-big {
  position: relative;
  display: inline-block;
  padding: 15px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 40px;
}
.btn__border {
  position: relative;
  display: inline-block;
  padding: 10px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 20px;
}

.slider__btn {
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: 46px 46px;
  background-image: url('../img/slider-btn.png');
  @include hover {
    background-image: url('../img/slider-btn-hover.png');
  }
}
.slider__prev {
  transform: rotate(180deg);
}
