.header {
  margin: 0 auto;
  &__container {
    margin: 0 auto;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 45px;
    border-radius: 0 0 70px 70px;
  }
  &__position {
    margin-left: 1px;
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }

  &--fixed {
    background-color: var(--blue-romance);
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 12px rgba(16, 57, 15, 0.5);
    border-radius: 20px;
  }
}
.nav {
  margin-right: 140px;
  align-items: center;

  &__list {
    align-items: center;
    gap: 40px;
  }

  &__link {
    color: var(--accent-color);
    font-size: 15px;
    line-height: 18px;
    text-transform: lowercase;
    transition: all 0.3s ease-in-out;
    @include hover {
      color: var(--hover-color);
    }
  }
}

.nav__link.focus-visible {
  outline: 1px solid var(--hover-color);
  outline-offset: 6px;
  border-radius: 8px;
}
