.steps {
  margin-top: 100px;

  background-repeat: no-repeat;
  background-position: center 236px;
  background-size: 1480px 125px;
  background-image: url('../img/steps-bg.svg');

  &__top {
    gap: 92px;
    &__title {
      grid-column: 6 span;
    }
    &__list {
      grid-column: 6 span;
    }
  }
  &__bottom {
    margin-top: 84px;
  }
}
.top__title {
  &--text {
    padding-bottom: 10px;
    font-size: 45px;
    line-height: 60px;
  }
  // &--line {
  //   background-repeat: no-repeat;
  //   background-image: url('../img/line.svg');
  //   background-position: right center;
  //   background-size: 100px;
  // }
}
.top__list {
  &--title {
    font-size: 26px;
    color: var(--second-color);
  }
  &--item {
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-image: url('../img/steps-marker.svg');
    background-position: left 14px;
  }
  &--text {
    padding-left: 28px;
    padding-top: 10px;
    color: var(--amulet-color);
  }
}
.steps__bottom {
  &--item {
    grid-column: 4 span;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &--icon {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--blue-romance);
  }
  &--text {
    padding-top: 20px;
    font-size: 24px;
    color: var(--accent-color);
  }
}
