:root {
  --font-family: "Proxima", sans-serif;
  --font-title: "Ruberoid", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --accent-color: #495e4c;
  --second-color: #78c081;
  --hover-color: #54e165;
  --emerald-color: #5ccd6a;
  --blue-romance: #d9fadd;
  --amulet-color: #7ca381;
  --gray-color: #848484;
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Proxima";
  src: url("../fonts/../fonts/ProximaNovaRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ruberoid";
  src: url("../fonts/../fonts/Ruberoid-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  color: var(--accent-color);
  font-family: var(--font-title);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  outline: 1px solid var(--hover-color);
  outline-offset: 6px;
  border-radius: 20px;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.header__container {
  margin: 26px auto 0;
  max-width: 1440px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 45px;
}
.header--position {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.nav {
  margin-right: 140px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}
.nav__link {
  color: var(--accent-color);
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--hover-color);
  }
}

.nav__link.focus-visible {
  outline: 1px solid var(--hover-color);
  outline-offset: 6px;
  border-radius: 8px;
}

.hero {
  padding-top: 167px;
  margin: 0 auto;
  height: 820px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-color: #784040;
}
.hero__content {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.hero__title {
  margin: 0;
  font-size: 64px;
  line-height: 74px;
}
.hero__title--color {
  color: var(--second-color);
  text-transform: uppercase;
}
.hero__title--line {
  padding-left: 210px;
  background-position: left center;
  background-size: 176px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/line.svg");
}
.hero__descr {
  margin-top: 20px;
  font-size: 22px;
  line-height: 32px;
  color: #7ca381;
  padding-left: 62px;
  background-position: left 9px;
  background-size: 50px 12px;
  background-repeat: no-repeat;
  background-image: url("../img/dots.svg");
}
.hero__contacts {
  margin-top: 52px;
}
.hero__info {
  color: #7b897d;
  padding-left: 50px;
  background-position: left center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.hero__info--adress {
  background-image: url("../img/map-icon.svg");
}
.hero__info--telephons {
  margin-left: 50px;
  background-image: url("../img/phone-icon.svg");
}
.hero__btn {
  margin-top: 78px;
}

.services {
  margin: 0 auto;
  max-width: 1440px;
}
.services__content {
  margin-top: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services__info {
  margin-left: 135px;
  max-width: 444px;
  width: 100%;
}
.services__menu {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}
.services__title {
  font-size: 45px;
  line-height: 60px;
}
.services__title--line {
  background-position: right center;
  background-size: 198px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/line.svg");
}
.services__discr {
  margin-top: 22px;
  color: #848484;
}
.services__menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.border {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  background-color: var(--blue-romance);
  width: 96px;
  height: 486px;
  border-radius: 45px 0 0 45px;
}

.menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu__item {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  background-color: var(--light-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .menu__item:hover {
    background-color: var(--hover-color);
  }
  .menu__item:hover .menu__link {
    color: var(--light-color);
  }
  .menu__item:hover .menu__link-icon {
    fill: var(--light-color);
  }
}
.menu__link {
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
  color: #7ca281;
}
.menu__link-icon {
  width: 33px;
  height: 33px;
  fill: #7ca281;
  margin-bottom: 12px;
}
.menu__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--blue-romance);
  border-radius: 60px 0 0 60px;
}
.menu__content__list {
  margin-left: 40px;
}
.menu__content__item {
  padding: 20px 0;
  max-width: 356px;
  padding-left: 50px;
  font-size: 20px;
  line-height: 100%;
  color: var(--accent-color);
  background-position: left center;
  background-size: 34px 34px;
  background-repeat: no-repeat;
}
.menu__content__item--project {
  background-image: url("../img/services-icon-1.svg");
}
.menu__content__item--flowing {
  background-image: url("../img/services-icon-2.svg");
}
.menu__content__item--exhaust {
  background-image: url("../img/services-icon-3.svg");
}
.menu__content__item--hydration {
  background-image: url("../img/services-icon-4.svg");
}
.menu__content__item--recuperator {
  background-image: url("../img/services-icon-5.svg");
}
.menu__content__item--pool {
  background-image: url("../img/services-icon-6.svg");
}
.menu__content--img {
  margin-left: 40px;
  width: 240px;
  border-radius: 60px 0 0 60px;
}

.menu__item:first-child {
  border-radius: 40px 0 0 0;
}

.menu__item:last-child {
  border-radius: 0 0 0 40px;
}

.menu__item--active {
  background-color: var(--emerald-color);
}
.menu__item--active .menu__link {
  color: var(--light-color);
}
.menu__item--active .menu__link-icon {
  fill: var(--light-color);
}

.key {
  margin-top: 100px;
  padding-bottom: 44px;
  background-image: url("../img/key-bg.svg");
  background-repeat: no-repeat;
  background-position: -120px center;
  background-size: contain;
}
.key__title {
  -ms-grid-column-span: 9;
  grid-column: 9 span;
  font-size: 45px;
  line-height: 60px;
  max-width: 70%;
}
.key__title-line {
  background-position: right 86px;
  background-size: 206px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/line.svg");
}
.key__list {
  margin-top: 65px;
  gap: 30px;
}
.key__item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(73, 93, 76, 0.3));
  filter: drop-shadow(0px 0px 10px rgba(73, 93, 76, 0.3));
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.key__item-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  border-radius: 25px 25px 0 0;
}
.key__item-img-office {
  background-image: url(../img/key-office.jpg);
}
.key__item-img-tc {
  background-image: url(../img/key-tc.jpg);
}
.key__item-img-fitnes {
  background-image: url(../img/key-fitnes.jpg);
}
.key__item-img-pool {
  background-image: url(../img/key-pool.jpg);
}
.key__item-img-townhouse {
  background-image: url(../img/key-townhouse.jpg);
}
.key__item-img-bar {
  background-image: url(../img/key-bar.jpg);
}
.key__item-img-clinic {
  background-image: url(../img/key-clinic.jpg);
}
.key__item-img-spa {
  background-image: url(../img/key-spa.jpg);
}
@media (any-hover: hover) {
  .key__item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.key__link-price {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 15px;
  font-size: 15px;
  line-height: 18px;
  color: #495d4c;
  background-color: #d9fadd;
  border-radius: 0px 10px 10px 0px;
}
.key__link-discr {
  padding: 5px 20px;
  border-radius: 0 0 25px 25px;
  background-color: #fff;
  color: var(--second-color);
}

.steps {
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: center 236px;
  background-size: 1480px 125px;
  background-image: url("../img/steps-bg.svg");
}
.steps__top {
  gap: 92px;
}
.steps__top__title {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.steps__top__list {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.steps__bottom {
  margin-top: 84px;
}

.top__title--text {
  padding-bottom: 10px;
  font-size: 45px;
  line-height: 60px;
}

.top__list--title {
  font-size: 26px;
  color: var(--second-color);
}
.top__list--item {
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-image: url("../img/steps-marker.svg");
  background-position: left 14px;
}
.top__list--text {
  padding-left: 28px;
  padding-top: 10px;
  color: var(--amulet-color);
}

.steps__bottom--item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.steps__bottom--icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--blue-romance);
}
.steps__bottom--text {
  padding-top: 20px;
  font-size: 24px;
  color: var(--accent-color);
}

.coll {
  margin-top: 100px;
  height: 248px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/coll-bg.svg");
}

.coll-form {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.coll-form__title {
  margin-top: 55px;
  font-size: 35px;
  line-height: 45px;
}
.coll-form__content {
  margin-top: 34px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.coll-form__field {
  margin-right: 30px;
}
.coll-form__btn {
  margin-left: 30px;
}

.about {
  margin-top: 100px;
}
.about__wrapper {
  max-width: 531px;
  width: 100%;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.about__wrapper::before {
  top: 30px;
  left: -160px;
  bottom: 68px;
  right: 60px;
}
.about__content {
  padding: 34px 44px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
  box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
  border-radius: 50px;
  position: relative;
}
.about__content--logo {
  background-repeat: no-repeat;
  background-position: 230px center;
  background-size: 166px 30px;
  background-image: url("../img/about-logo.svg");
}
.about__content--title {
  font-size: 45px;
  line-height: 65px;
}
.about__content--text {
  padding-top: 20px;
  color: var(--gray-color);
}
.about__list {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about__list--item {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.about__list--item::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.about__list--title {
  position: relative;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 47px;
  color: var(--second-color);
}
.about__list--title span {
  font-size: 34px;
}
.about__list--text {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 15px;
  color: var(--amulet-color);
}

.comfort {
  margin-top: 100px;
}
.comfort__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.comfort__btn {
  margin-top: 65px;
}
.comfort__discr {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  padding-right: 70px;
}
.comfort__discr--title {
  font-size: 40px;
  line-height: 60px;
  text-transform: capitalize;
}
.comfort__discr--icons {
  margin-top: 28px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.comfort__discr--list {
  margin-top: 35px;
}
.comfort__discr--item {
  padding: 15px 25px 0px 25px;
  color: var(--amulet-color);
  background-repeat: no-repeat;
  background-position: left 20px;
  background-image: url("../img/comfort-dots.svg");
}
.comfort__discr--text {
  margin-top: 25px;
  color: var(--gray-color);
}
.comfort__images {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.comfort__images::before {
  position: absolute;
  top: 30px;
  left: 160px;
  bottom: 68px;
  right: -60px;
}
.comfort__images--content {
  position: relative;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.comfort__images--item {
  border-radius: 40px;
  margin-bottom: 20px;
}

.scheme {
  margin-top: 100px;
}
.scheme__title {
  font-size: 45px;
  line-height: 60px;
}
.scheme__wrapper {
  gap: 60px;
}
.scheme__act {
  margin-top: 80px;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 35px;
  color: var(--second-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 402px 100px;
  background-image: url("../img/scheme-icon-7.svg");
}
.scheme__content {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.scheme__content-right {
  margin-top: 136px;
  text-align: right;
}
.scheme__content-left {
  text-align: left;
}
.scheme__content-left p {
  max-width: 449px;
}
.scheme__content--title {
  font-size: 35px;
  color: var(--second-color);
}
.scheme__content--text {
  margin-top: 15px;
}
.scheme__content--item {
  position: relative;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 275px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.scheme__content--item::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}
.scheme__content--application {
  background-position: center;
  background-image: url("../img/scheme-icon-1.svg");
}
.scheme__content--application::after {
  top: 188px;
  bottom: 0;
  left: 124px;
  right: -144px;
  background-size: 557px 78px;
  background-image: url("../img/scheme-line-1.svg");
}
.scheme__content--object {
  background-position: center -100px;
  background-size: 420px 400px;
  background-image: url("../img/scheme-icon-3.svg");
}
.scheme__content--object::after {
  top: 210px;
  bottom: -28px;
  left: 378px;
  right: -44px;
  background-size: 220px 95px;
  background-image: url("../img/scheme-line-3.svg");
}
.scheme__content--treaty {
  background-position: center center;
  background-size: 250px 250px;
  background-image: url("../img/scheme-icon-5.svg");
}
.scheme__content--treaty::after {
  top: 264px;
  bottom: -200px;
  left: 276px;
  right: -426px;
  background-size: 698px 165px;
  background-image: url("../img/scheme-line-5.svg");
}
.scheme__content--consultation {
  background-position: center center;
  background-size: 279px 279px;
  background-image: url("../img/scheme-icon-2.svg");
}
.scheme__content--consultation::after {
  top: 224px;
  bottom: -57px;
  left: -242px;
  right: 0px;
  background-size: 506px 86px;
  background-image: url("../img/scheme-line-2.svg");
}
.scheme__content--schedule {
  background-position: 0 10px;
  background-size: 288px 279px;
  background-image: url("../img/scheme-icon-4.svg");
}
.scheme__content--schedule::after {
  top: 230px;
  bottom: -100px;
  left: -232px;
  right: 0px;
  background-size: 588px 140px;
  background-image: url("../img/scheme-line-4.svg");
}
.scheme__content--installation {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-position: 0 78px;
  background-size: 300px 189px;
  background-image: url("../img/scheme-icon-6.svg");
}
.scheme__content--installation p {
  max-width: 390px;
}

.btn {
  display: inline-block;
  background-color: var(--emerald-color);
  font-size: 15px;
  text-transform: uppercase;
  line-height: 21px;
  padding: 19px 48px;
  border-radius: 16px;
  color: var(--light-color);
  -webkit-box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--hover-color);
  }
}

.btn-big {
  font-size: 17px;
  line-height: 23px;
  padding: 32px 126px 30px;
  border-radius: 30px;
}

.btn-border {
  position: relative;
  display: inline-block;
  padding: 15px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 40px;
}

.highlight {
  position: relative;
}
.highlight::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(186, 255, 195, 0.5);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.form-field__input {
  background-color: var(--light-color);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px rgba(73, 93, 76, 0.15);
  box-shadow: 0px 0px 12px rgba(73, 93, 76, 0.15);
  width: 290px;
  height: 57px;
  padding-left: 20px;
}
/*# sourceMappingURL=main.css.map */