<section id="about" class="about">
  <div class="container grid">
    <span class="about__wrapper highlight">
      <div class="about__content">
        <h3 class="about__content--title about__content--logo">Про Нас</h3>
        <h3 class="about__content--title">Особливості</h3>
        <p class="about__content--text">
          Ми&nbsp;любимо&nbsp;те, чим займаємося&nbsp;&mdash; тому в&nbsp;нас
          індивідуальний підхід до&nbsp;кожної людини, креативні рішення для
          проєкту будь-якої складності та&nbsp;високий рівень клієнтського
          сервісу.
        </p>
        <p class="about__content--text">
          Саме тому нам довіряють найскладніші завдання, рекомендують нас
          і&nbsp;повертаються знову. Довірте нам втілення ваших найвишуканіших
          і&nbsp;технологічних завдань, і&nbsp;ми&nbsp;зробимо все
          з&nbsp;найвищим рівнем сервісу <b>Pascal Vent</b>.
        </p>
        <p class="about__content--text">
          <b>Pascal Vent</b> гарантує сертифіковані сучасні системи, обладнання,
          якісні матеріали та&nbsp;найоптимальніші рішення під будь-який бюджет.
        </p>
      </div>
    </span>
    <ul class="about__list list-reset grid">
      <li class="about__list--item highlight">
        <h4 class="about__list--title"><span>10</span> років на ринку</h4>
        <p class="about__list--text">
          Працюємо <br />
          як&nbsp;єдине ціле
        </p>
      </li>
      <li class="about__list--item highlight">
        <h4 class="about__list--title"><span>+ 11</span> років стажу</h4>
        <p class="about__list--text">
          Досвідчені та&nbsp;навчені <br />
          фахівці своєї справи
        </p>
      </li>
      <li class="about__list--item highlight">
        <h4 class="about__list--title"><span>+ 180</span> клієнтів</h4>
        <p class="about__list--text">
          Кількість щасливих <br />
          клієнтів за&nbsp;цей період
        </p>
      </li>
      <li class="about__list--item highlight">
        <h4 class="about__list--title"><span>+ 470</span> проектів</h4>
        <p class="about__list--text">
          Велика кількість <br />
          реалізованих проектів
        </p>
      </li>
    </ul>
  </div>
</section>
