<section id="client" class="client">
  <div class="client__container container-right flex">
    <div class="client__discr">
      <h2 class="client__discr--title">Відомі клієнти</h2>
      <h2 class="client__discr--title">які нам довірилися</h2>
      <p class="client__discr--text">
        Реалізовано проєкти квартир і&nbsp;комерційних приміщень у&nbsp;житлових
        комплексах від великих забудовників таких&nbsp;як: Level, ФСК,
        MR&nbsp;груп, ПІК, Самоліт, Гранель, Донстрой, Піонер, Еталон, А101,
        Sminex, Vesper, Інград, КРОСТ, МІЦ. Ми&nbsp;цінуємо кожного клієнта
        Pascal Vent і&nbsp;з&nbsp;радістю готові розширювати нашу клієнтську
        базу.
      </p>
    </div>
    <div class="client__slider">
      <div class="swiper client__swiper">
        <div class="swiper-wrapper client__slider--wrapper">
          <div class="swiper-slide client__slider--item">
            <img src="../img/client-logo-1.png" alt="" />
          </div>
          <div class="swiper-slide client__slider--item">
            <img src="../img/client-logo-2.png" alt="" />
          </div>
          <div class="swiper-slide client__slider--item">
            <img src="../img/client-logo-1.png" alt="" />
          </div>
        </div>
      </div>
      <div class="client__slider--nav flex">
        <div class="slider__btn slider__prev client__prev"></div>
        <div class="slider__btn client__next"></div>
      </div>
    </div>
  </div>
</section>
