<section class="coll">
  <div class="coll__container container flex">
    <form action="#" class="coll-form">
      <h2 class="coll-form__title">
        Залиште заявку і&nbsp;ми&nbsp;з&nbsp;вами зв&rsquo;яжемося
      </h2>
      <div class="coll-form__content flex">
        <div class="coll-form__field form-field">
          <input
            class="form-field--input"
            type="text"
            placeholder="Ваше Ім`я"
          />
        </div>
        <div class="coll-form__field form-field">
          <input
            class="form-field--input"
            type="tel"
            placeholder="Номер телефона"
          />
        </div>

        <span class="coll__btn btn__border btn__border--light"
          ><button class="coll-form__btn btn btn-small">Відправити</button>
        </span>
      </div>
    </form>
  </div>
</section>
