<section class="coll">
  <div class="container flex">
    <form action="#" class="coll-form">
      <h2 class="coll-form__title">
        Залиште заявку і&nbsp;ми&nbsp;з&nbsp;вами зв&rsquo;яжемося
      </h2>
      <div class="coll-form__content flex">
        <div class="coll-form__field form-field">
          <input
            class="form-field__input"
            type="text"
            placeholder="Ваше Ім`я"
          />
        </div>
        <div class="coll-form__field form-field">
          <input
            class="form-field__input"
            type="tel"
            placeholder="Номер телефона"
          />
        </div>
        <span class="coll__btn btn__border">
          <button class="coll-form__btn btn">Відправити</button>
      </div>
      <span/>
    </form>
  </div>
</section>
