<section class="comfort">
  <div class="comfort__container container grid">
    <div class="comfort__discr">
      <h2 class="comfort__discr--title">
        комфорт і&nbsp;затишок <br />у&nbsp; будь-яку пору року
      </h2>
      <div class="comfort__discr--icons flex">
        <img src="../img/comfort-icon-1.svg" alt="" />
        <img src="../img/comfort-icon-2.svg" alt="" />
        <img src="../img/comfort-icon-3.svg" alt="" />
        <img src="../img/comfort-icon-4.svg" alt="" />
        <img src="../img/comfort-icon-5.svg" alt="" />
        <img src="../img/comfort-icon-6.svg" alt="" />
      </div>
      <ul class="comfort__discr--list list-reset">
        <li class="comfort__discr--item">
          Створення комфортних умов для роботи та&nbsp;відпочинку
        </li>
        <li class="comfort__discr--item">
          Чисте, свіже, припливне повітря цілий рік
        </li>
        <li class="comfort__discr--item">
          Видалення неприємних запахів, надмірної вологості та&nbsp;накопиченого
          вуглекислого газу з&nbsp;приміщень накопиченого вуглекислого газу
          з&nbsp;приміщень
        </li>
        <li class="comfort__discr--item">
          Підтримання комфортної температури та&nbsp;вологості повітря взимку
          та&nbsp;влітку
        </li>
      </ul>
      <p class="comfort__discr--text">
        <b>Pascal Vent</b> допоможе поліпшити ваше самопочуття і&nbsp;підвищити
        працездатність вдень, а&nbsp;вночі подарує здоровий і&nbsp;міцний сон.
        Це&nbsp;важливо для тих, хто стежить за&nbsp;своїм здоров&rsquo;ям і
        здоров&rsquo;ям своїх близьких.
      </p>
      <span class="btn-border comfort__btn">
        <a class="btn btn-big">заповнити заявку</a></span
      >
    </div>
    <div class="comfort__images highlight grid">
      <div class="comfort__images--content">
        <img
          src="../img/comfort-1.jpg"
          alt="vent"
          class="comfort__images--item"
          height="358"
          width="273"
        />
        <img
          src="../img/comfort-3.jpg"
          alt="vent"
          class="comfort__images--item"
          height="424"
          width="273"
        />
      </div>
      <div class="comfort__images--content">
        <img
          src="../img/comfort-2.jpg"
          alt="vent"
          class="comfort__images--item"
          height="350"
          width="273"
        />
        <img
          src="../img/comfort-4.jpg"
          alt="vent"
          class="comfort__images--item"
          height="294"
          width="273"
        />
      </div>
    </div>
  </div>
</section>
