<footer class="footer">
  <div class="container footer__container flex">
    <div class="footer__info">
      <img  src="../img/logo.svg" alt="Pascal Vent Frash AIR" class="footer__info--logo"/>
      <p class="footer__info--text">
        Компанія &laquo;Pascal Vent&raquo; входить до&nbsp;числа найкращих
        спеціалізованих організацій, з&nbsp;широким асортиментом товарів
        і&nbsp;послуг, призначених для систем вентиляції
        та&nbsp;кондиціонування, що&nbsp;надають високий сервіс і&nbsp;зручність
        обслуговування нашим клієнтам.
      </p>
      <h4 class="footer__info--title">
        Чисте повітря разом з <span>Pascal Vent</span>
      </h4>
    </div>
    <div class="footer__contacts">
      <h4 class="footer__contacts--title">Контакти</h4>
        <ul class="footer__contacts--list list-reset">
          <li class="footer__contacts--item item-phone">+ 380 XX XXX XX XX</li>
          <li class="footer__contacts--item item-phone">+ 380 XX XXX XX XX</li>
          <li class="footer__contacts--item item-email">
            PascalVent@gmail.com
          </li>
          <li class="footer__contacts--item item-time">
            Пн - Сб: 9:00 - 19:00 <br />Нд: вихідний
          </li>
          <li class="footer__contacts--item item-location">Київ, Україна</li>
        </ul>
     
    </div>
    <form class="footer__coll">
      <h4 class="footer__coll__title">Залиште заявку</h4>
      <div class="footer__coll--content">
        <div class="footer__coll--field form-field">
          <input
            class="form-field--input"
            type="text"
            placeholder="Ваше Ім`я"
          />
        </div>
        <div class="footer__coll--field form-field">
          <input
            class="form-field--input"
            type="tel"
            placeholder="Номер телефона"
          />
        </div>
        <span class="footer__coll--btn btn__border btn__border--light">
          <button class="coll-form__btn btn btn-small">Відправити</button>
        </span>
      <span/>
    </form>
</footer>
