<section class="hero">
  <div class="container grid">
    <div class="hero__content">
      <h1 class="hero__title">Чисте Повітря</h1>

      <h2 class="hero__title hero__title--line">Разом З</h2>
      <h2 class="hero__title hero__title--color">pascal vent</h2>

      <p class="hero__descr">
        Проектування, постачання та монтаж систем вентиляції та кондиціювання
      </p>
      <div class="hero__contacts flex">
        <div class="hero__info hero__info--adress">
          <p>Київська область</p>
          <p>Київ</p>
        </div>
        <div class="hero__info hero__info--telephons">
          <p>+38 (000) 000 00 00</p>
          <p>+38 (000) 000 00 00</p>
        </div>
      </div>

      <a href="#" class="hero__btn btn btn-big">залишити заявку</a>
    </div>
  </div>
</section>
