<section class="key">
  <div class="key__container container">
    <h2 class="key__title key__title-line">
      Комплексне Рішення З Монтажу Та Вентиляції Під Ключ
    </h2>

    <ul class="key__list list-reset grid">
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-office">
            <p class="key__link-price">від 80 000 UAH</p>
          </div>
          <p class="key__link-discr">Квартири та офіси</p>
        </a>
      </li>
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-tc">
            <p class="key__link-price">від 80 000 UAH</p>
          </div>
          <p class="key__link-discr">Магазина та ТЦ</p>
        </a>
      </li>
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-fitnes">
            <p class="key__link-price">від 100 000 UAH</p>
          </div>
          <p class="key__link-discr">Фітнес центри</p>
        </a>
      </li>
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-pool">
            <p class="key__link-price">від 100 000 UAH</p>
          </div>
          <p class="key__link-discr">Басейни</p>
        </a>
      </li>
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-townhouse">
            <p class="key__link-price">від 150 000 UAH</p>
          </div>
          <p class="key__link-discr">Котеджи та таунхауси</p>
        </a>
      </li>
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-bar">
            <p class="key__link-price">від 200 000 UAH</p>
          </div>
          <p class="key__link-discr">Ресторани, кафе, бари</p>
        </a>
      </li>
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-clinic">
            <p class="key__link-price">від 180 000 UAH</p>
          </div>
          <p class="key__link-discr">Стоматології, клініки</p>
        </a>
      </li>
      <li class="key__item">
        <a href="#" class="key__link">
          <div class="key__item-img key__item-img-spa">
            <p class="key__link-price">від 90 000 UAH</p>
          </div>
          <p class="key__link-discr">Салони краси</p>
        </a>
      </li>
    </ul>
  </div>
</section>
