<section class="modal">
  <div class="modal__overlay flex">
    <div class="modal__form flex">
      <span class="modal__close-btn--border btn__border">
        <button class="modal__close-btn btn"></button>
      </span>
      <div class="modal__form--wrapper flex">
        <h2 class="modal__form--title">Ми Зв`яжемося З Вами</h2>
        <form class="modal__form-field flex">
          <div class="modal__form-field--wrapper form-field">
            <input
              class="modal__form-field--input form-field--input"
              type="text"
              placeholder="Ваше Ім`я"
            />
          </div>
          <div class="form-field">
            <input
              class="modal__form-field--input form-field--input"
              type="tel"
              placeholder="Номер телефона"
            />
          </div>

          <span class="modal__form--btn btn__border btn__border--light"
            ><button type="submit" class="btn btn-small">Відправити</button>
          </span>
        </form>
        <img
          src="../img/logo.svg"
          alt="Pascal Vent logo"
          class="modal__logo"
          width="228"
          height="68"
        />
      </div>
    </div>
  </div>

  <div class="modal-info__overlay modal__overlay flex">
    <div class="modal-info modal__form flex">
      <span class="modal__close-btn--border btn__border">
        <button class="modal__close-btn btn"></button>
      </span>

      <div class="modal-info__wrapper flex">
        <h2 class="modal__form--title">Швидкий Зв`язок З Нами</h2>
        <div class="modal-info--discr">
          <p class="modal-info--text">
            Ви&nbsp;можете набрати нам, і&nbsp;менеджери Pascal Vent
            з&nbsp;радістю проконсультують Вас з&nbsp;будь-якого питання
            і&nbsp;допоможуть визначитися з&nbsp;вибором.
          </p>
          <p class="modal-info--graph">Графік прийому дзвінків:</p>
          <p class="modal-info--time">ПН-СБ з 9:00 до 19:00</p>
          <div class="modal-info__phone flex">
            <p class="modal-info--phone">+38 XXX XXX XX XX</p>
            <div class="line-border"></div>
            <p class="modal-info--phone">+38 XXX XXX XX XX</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
