<section class="portfolio">
  <div class="portfolio__container highlight">
    <div class="portfolio__title container grid">
      <h2 class="portfolio__title--text">Портфоліо І&nbsp; Процес Роботи</h2>
      <p class="portfolio__title--discr">
        Технічні рішення, прийняті в&nbsp;робочих кресленнях, відповідають
        вимогам екологічних, санітарно-гігієнічних, протипожежних та&nbsp;інших
        норм і&nbsp;правил і&nbsp;забезпечують безпечну для життя людей
        експлуатацію об&rsquo;єкта в&nbsp;разі дотримання передбачених робочими
        кресленнями заходів.
      </p>
    </div>

    <div class="portfolio__slider container-right">
      <div class="portfolio__slider--nav flex">
        <div class="slider__btn slider__prev portfolio__slider-prev"></div>
        <div class="slider__btn slider__next portfolio__slider-next"></div>
      </div>

      <div class="swiper portfolio__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide portfolio__swiper--item">
            <a src="#!" class="portfolio__swiper--link flex">
              <span class="portfolio__swiper--logo"></span>
              <div class="portfolio__swiper--discr">
                <h4 class="portfolio__swiper--title">припливна вентиляція</h4>
                <p class="portfolio__swiper--text">
                  Монтаж припливної вентиляції (об&rsquo;єкт у&nbsp;Прайм Парк)
                </p>
              </div>
            </a>
          </div>
          <div class="swiper-slide portfolio__swiper--item">
            <!-- <a src="#!" class="portfolio__swiper--link flex">
                <span class="portfolio__swiper--logo"></span>
                <div class="portfolio__swiper--discr">
                  <h4 class="portfolio__swiper--title">припливна вентиляція</h4>
                  <p class="portfolio__swiper--text">
                    Монтаж припливної вентиляції (об&rsquo;єкт у&nbsp;Прайм
                    Парк)
                  </p>
                </div>
              </a> -->
          </div>
          <div class="swiper-slide portfolio__swiper--item">
            <!-- <a src="#!" class="portfolio__swiper--link flex">
                <span class="portfolio__swiper--logo"></span>
                <div class="portfolio__swiper--discr">
                  <h4 class="portfolio__swiper--title">припливна вентиляція</h4>
                  <p class="portfolio__swiper--text">
                    Монтаж припливної вентиляції (об&rsquo;єкт у&nbsp;Прайм
                    Парк)
                  </p>
                </div>
              </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
