<section class="scheme">
  <div class="container">
    <h2 class="scheme__title">Зрозуміла й&nbsp;ефективна схема роботи</h2>
    <div class="scheme__wrapper grid">
      <div class="scheme__content scheme__content-left">
        <div class="scheme__content--item scheme__content--application flex">
          <h4 class="scheme__content--title">Отримання заявки</h4>
          <p class="scheme__content--text">
            Заповніть форму, вкажіть свої дані та&nbsp;надішліть нашим
            менеджерам в&nbsp;обробку
          </p>
        </div>
        <div class="scheme__content--item scheme__content--object flex">
          <h4 class="scheme__content--title">Виїзд на&nbsp;об&rsquo;єкт</h4>
          <p class="scheme__content--text">
            У&nbsp;призначений час ми&nbsp;виїжджаємо на&nbsp;об&rsquo;єкт
            і&nbsp;погоджуємо основні технічні рішення, обговорюємо технічне
            завдання
          </p>
        </div>
        <div class="scheme__content--item scheme__content--treaty flex">
          <h4 class="scheme__content--title">Договір</h4>
          <p class="scheme__content--text">
            Ми&nbsp;укладаємо з&nbsp;Вами договір і&nbsp;починаємо проєктування
            та&nbsp;узгодження проєкту
          </p>
        </div>
      </div>

      <div class="scheme__content scheme__content-right">
        <div class="scheme__content--item scheme__content--consultation flex">
          <h4 class="scheme__content--title">Консультація</h4>
          <p class="scheme__content--text">
            Після опрацювання Вашої заявки, ми&nbsp;зв&rsquo;язуємося
            з&nbsp;Вами, виявляємо потреби та&nbsp;побажання, а&nbsp;також
            проводимо технічну консультацію.
          </p>
        </div>
        <div class="scheme__content--item scheme__content--schedule flex">
          <h4 class="scheme__content--title">Складаємо Графік</h4>
          <p class="scheme__content--text">
            На&nbsp;цьому етапі ми&nbsp;складаємо комерційну пропозицію
            і&nbsp;займаємося узгодженням графіка робіт (проєктування, закупівлі
            обладнання та&nbsp;монтажу).
          </p>
        </div>
        <div class="scheme__content--item scheme__content--installation flex">
          <h4 class="scheme__content--title">Постачання та&nbsp;монтаж</h4>
          <p class="scheme__content--text">
            На&nbsp;цьому етапі відбувається постачання всіх матеріалів
            і&nbsp;починається виконання монтажних робіт
          </p>
        </div>
      </div>
    </div>
    <h4 class="scheme__act flex">Підписання акта виконаних робіт</h4>
  </div>
</section>
