<section class="services">
  <div class="services__content flex">
    <div class="services__info">
      <h2 class="services__title">Надавані</h2>
      <h2 class="services__title services__title--line">Послуги</h2>
      <p class="services__discr">
        Під час розроблення проєкту запропонуємо технічне рішення оптимальне за
        співвідношенням ціни та якості, воно ідеально впишеться у ваш дизайн, а
        також враховуватиме всі ваші побажання.
      </p>
      <p class="services__discr">
        Монтаж виконується досвідченими бригадами з дотриманням усіх чинних
        технічних норм, правил безпеки та суворо за узгодженим проєктом.
      </p>
      <p class="services__discr">
        Однаково ефективно виконуємо проєктування і монтаж на об'єктах будь-якої
        складності - від невеликої квартири, до об'єктів зі складними
        технологічними процесами на основі чинної нормативної документації.
      </p>
    </div>
    <div class="services__menu flex">
      <ul class="menu__list list-reset flex">
        <li class="menu__item flex">
          <svg class="menu__link-icon">
            <use xlink:href="img/sprite.svg#vent-icon"></use>
          </svg>
          <a href="#" class="menu__link">Система вентиляції</a>
        </li>
        <li class="menu__item flex">
          <svg class="menu__link-icon">
            <use xlink:href="img/sprite.svg#air-icon"></use>
          </svg>
          <a href="#" class="menu__link">Кондиціонування</a>
        </li>
      </ul>
      <div class="menu__content flex">
        <ul class="menu__content__list list-reset">
          <li class="menu__content__item menu__content__item--project">
            Проектування систем вентиляції будь-якої складності
          </li>
          <li class="menu__content__item menu__content__item--flowing">
            Монтаж припливної вентиляції
          </li>
          <li class="menu__content__item menu__content__item--exhaust">
            Монтаж витяжної вентиляції
          </li>
          <li class="menu__content__item menu__content__item--hydration">
            Монтаж вентиляції зі зволоженням повітря
          </li>
          <li class="menu__content__item menu__content__item--recuperator">
            Монтаж вентиляції з рекуператором
          </li>
          <li class="menu__content__item menu__content__item--pool">
            Монтаж вентиляції з осушенням для басейну
          </li>
        </ul>
        <img
          src="../img/services-photo-1.jpg"
          alt=""
          class="menu__content--img"
        />
      </div>
    </div>
  </div>
</section>
