<section class="steps">
  <div class="container steps__container">
    <div class="steps__top grid">
      <div class="steps__top__title">
        <h2 class="top__title--text top__title--line">3 Простих Кроки</h2>
        <h2 class="top__title--text">К Очищеню Повітря</h2>
      </div>
      <ul class="steps__top__list list-reset">
        <h3 class="top__list--title">Здается, Це Знак...</h3>
        <li class="top__list--item">
          <p class="top__list--text">
            Отримайте знижку&nbsp;5% на&nbsp;монтаж при заповненні анкети
            на&nbsp;сайті
          </p>
        </li>
        <li class="top__list--item">
          <p class="top__list--text">
            Безкоштовно зробимо проєкт і&nbsp;пусконалагодження системи
            в&nbsp;разі замовлення монтажу
          </p>
        </li>
        <li class="top__list--item">
          <p class="top__list--text">
            Кешбек до&nbsp;10% дизайнерам у&nbsp;разі передачі Клієнта
            та&nbsp;замовленні у&nbsp;нас проєкту з&nbsp;монтажем!
          </p>
        </li>
      </ul>
    </div>
    <div class="steps__bottom grid">
      <div class="steps__bottom--item flex">
        <div class="steps__bottom--icon flex">
          <img
            class="steps__bottom--img"
            src="../img/steps-icon-1.svg"
            alt="idea"
            width="49"
            height="59"
          />
        </div>
        <p class="steps__bottom--text">Ваше бажання</p>
      </div>
      <div class="steps__bottom--item flex">
        <div class="steps__bottom--icon flex">
          <img
            class="steps__bottom--img"
            src="../img/steps-icon-2.svg"
            alt="idea"
            width="42"
            height="57"
          />
        </div>
        <p class="steps__bottom--text">Заява</p>
      </div>
      <div class="steps__bottom--item flex">
        <div class="steps__bottom--icon flex">
          <img
            class="steps__bottom--img"
            src="../img/steps-icon-3.svg"
            alt="idea"
            width="50"
            height="50"
          />
        </div>
        <p class="steps__bottom--text">Реалізація</p>
      </div>
    </div>
  </div>
</section>
