<section class="steps">
  <div class="steps__container container grid">
    <div class="steps__top-left">
      <h2 class="top-left__title steps-line">3 простих Кроки</h2>
      <h2 class="top-left__title">До Очищення Повітря</h2>
    </div>
    <div class="steps__top-right">
      <h3 class="top-right__title">Здається, Це Знак...</h3>
      <ul class="top-right__list list-reset">
        <li class="top-right__item">
          <p class="top-right__text">
            Отримайте знижку 5% на монтаж при заповненні анкети на сайті
          </p>
        </li>
        <li class="top-right__item">
          <p class="top-right__text">
            Безкоштовно зробимо проєкт і пусконалагодження системи в разі
            замовлення монтажу
          </p>
        </li>
        <li class="top-right__item">
          <p class="top-right__text">
            Кешбек до 10% дизайнерам у разі передачі Клієнта та замовленні у нас
            проєкту з монтажем!
          </p>
        </li>
      </ul>
    </div>

    <div class="steps__bottom">
      <ul class="steps__list list-reset flex">
        <li class="steps__list-item flex">
          <div class="list-item__bg flex">
            <img
              src="../img/steps-icon-1.svg"
              alt="your wish"
              width="49"
              height="59"
            />
          </div>
          <p class="list-item__text">Ваше бажання</p>
        </li>
        <li class="steps__list-item">
          <div class="list-item__bg flex">
            <img
              src="../img/steps-icon-2.svg"
              alt="your wish"
              width="42"
              height="57"
            />
          </div>
          <p class="list-item__text">Заява</p>
        </li>
        <li class="steps__list-item">
          <div class="list-item__bg flex">
            <img
              src="../img/steps-icon-3.svg"
              alt="your wish"
              width="49"
              height="59"
            />
          </div>
          <p class="list-item__text">Реалізація</p>
        </li>
      </ul>
    </div>
  </div>
</section>
