// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: 'Proxima', sans-serif;
  --font-title: 'Ruberoid', sans-serif;
  --content-width: 1170px;
  --container-offset: 135px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --accent-color: #495e4c;
  --second-color: #78c081;

  --hover-color: #54e165;

  --emerald-color: #5ccd6a;
  --blue-romance: #d9fadd;
  --amulet-color: #7ca381;
  --gray-color: #848484;
  --light-color: #fff;
}
